@font-face {
  font-family: "FreightSansProBold";
  src: url('/fonts/FreightSansProBold-Regular.ttf');
}

@font-face {
  font-family: "FreightSansProMedium";
  src: url('/fonts/FreightSansProMedium-Regular.ttf');
}

.h1-primary {
    font-family: 'FreightSansProBold';
    font-size: 36px;
    color: white;
    margin: 0;
    line-height: 48px;
}

.h1-secondary {
    font-family: 'FreightSansProBold';
    font-size: 36px;
    color: #0058A6;
    margin: 0;
    line-height: 48px;
}

.h2-primary {
    font-family: 'FreightSansProBold';
    font-size: 32px;
    color: white;
    margin: 0;
}

.h2-secondary {
    font-family: 'FreightSansProBold';
    font-size: 32px;
    color: #0058A6;
    margin: 0;
}

.h3-primary {
    font-family: 'FreightSansProBold';
    font-size: 24px;
    color: white;
    margin: 0;
}

.p-primary {
    font-family: 'FreightSansProMedium';
    font-size: 18px;
    font-weight: 500;
    color: white;
    letter-spacing: .04rem;
    margin: 0;
}

.p-secondary {
    font-family: 'FreightSansProMedium';
    font-size: 18px;
    font-weight: 500;
    font-weight: 700;
    color: #0058A6;
    letter-spacing: .04rem;
    margin: 0;
}

.btn-primary {
    width: 256px;
    height: 48px;
    background: transparent;
    border: 4px solid white;
    font-size: 28px;
    font-weight: 500;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

    btn-primary:hover {
        background: white;
        color: #0058A6;
        transition: 0.5s;
    }

.container-primary {
    position: relative;
    width: 100%;
    background: white;
}

    .container-primary h2 {
        font-family: 'FreightSansProBold';
        font-size: 32px;
        color: white;
        margin: 0;
    }

.container-secondary {
    position: relative;
    width: 100%;
    background: #003057;
}

.container-tertiary {
    position: relative;
    width: 100%;
    background: #A2DCED;
}