@font-face {
  font-family: "FreightSansProBold;
  src: url('/fonts/FreightSansProBold-Regular.ttf');
}

@font-face {
  font-family: "FreightSansProMedium;
  src: url('/fonts/FreightSansProMedium-Regular.ttf');
}