.story-header-text-wrapper {
    width: 896px;
    margin-left: calc(50vw - 448px);
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

.story-header-img-wrapper img {
    object-fit: cover;
    width: 100vw;
    height: 512px;
}

.story-image-wrapper[type=left] img {
    float: left;
    max-width: 384px;
    height: auto;
    object-fit: cover;
    margin-right: 32px;
    margin-left: -32px;
}

.story-image-wrapper[type=right] img {
    float: right;
    width: 512px;
    height: 512px;
    object-fit: cover;
}

.story-image-wrapper[type=bottom] img {
    width: 100%;
    height: 512px;
    object-fit: cover;
}

.overlay-story {
    background: white;
    position: absolute;
    width: 128px;
    margin-top: -128px;
    padding: 8px;
    text-align: right;
}

    .overlay-story p {
        color: #a4a7a9 !important;
        font-family: "OpenSansRegular" !important;
        font-size: 14px !important;
    }

story-body-container {
    width: 896px;
    margin-left: calc(50vw - 448px);
    text-align: left;
}

    .story-body-container p {
        font-family: 'OpenSansRegular';
        font-size: 14px;
        color: #003057;
        margin: 0;
    }