.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 960px;
    margin: 0;
    margin-left: calc(50% - 480px);
    gap: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.quote-container img {
    object-fit: cover;
    width: 352px;
    height: 352px;
    border-radius: 176px;
}

.inner {
    position: absolute;
    border: 2px solid #0058A6;
    border-radius: 176px;
    width: 332px;
    height: 332px;
    margin: 8px;
    margin-top: -348px;
}