.profile-container {
    width: 288px;
    height: 384px;
    margin: 8px;
}

    .profile-container img {
        object-fit: cover;
        width: 288px;
        height: 384px;
        margin: 0;
    }

        .profile-container:hover .image-overlay-profile {
            display: block;
        }

.image-overlay-profile {
    position: absolute;
    background: #00217A;
    opacity: 0.3;
    cursor: pointer;
    display: none;
    width: 288px;
    height: 384px;
    margin-top: -388px;
}

.overlay-profile {
    background: white;
    position: absolute;
    width: 256px;
    margin-left: 0px;
    margin-top: -128px;
    padding: 8px;
    text-align: left;
}

    .overlay-profile p {
        color: #a4a7a9 !important;
        font-family: "OpenSansRegular" !important;
        font-size: 14px !important;
        margin-bottom: 8px !important;
    }

    .overlay-profile a {
        color: #0158a6;
        font-family: "OpenSansBold";
        text-decoration: none;
    }