.profiles-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 816px;
    height: 400px;
    margin-top: 0;
    padding-bottom: 64px;
    padding-top: 64px;
    margin-left: calc(50vw - 408px);
}