.tile-container {
    width: 256px;
    height: 256px;
    margin: 8px;
}

    .tile-container img {
        object-fit: cover;
        width: 256px;
        height: 256px;
        margin: 0;
    }

.overlay-tile {
    background: white;
    float: right;
    margin-top: 50%;
    padding: 8px;
}