.story-header-text-wrapper {
    width: 896px;
    margin-left: calc(50vw - 448px);
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

.story-header-img-wrapper img {
    object-fit: cover;
    width: 100vw;
    height: 512px;
}

.story-image-wrapper[type=left] img {
    float: left;
    width: 512px;
    height: 512px;
    object-fit: cover;
}

.story-image-wrapper[type=right] img {
    float: right;
    width: 512px;
    height: 512px;
    object-fit: cover;
}

.story-image-wrapper[type=bottom] img {
    width: 100%;
    height: 512px;
    object-fit: cover;
}