.hero-container {
    width: 100%;
    height: 640px;
    display: flex;
}

    .hero-container img {
        position: fixed;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

.hero-container[type=white] {
    width: 100%;
    height: 528px;
    display: flex;
    background: #0158A6;
    align-items: center;
    justify-content: center;
}

    .hero-container[type=white] img {
        position: relative;
        object-fit: cover;
        width: 100vw;
        height: 512px;
    }

.hero-container[type=white--feature] {
    width: 100%;
    height: 832px;
    display: flex;
    background: #0158A6;
}

    .hero-container[type=white--feature] img {
        position: relative;
        object-fit: cover;
        width: 100vw;
        height: 816px;
    }

.hero-overlay[type=wide] {
    background: #00217A;
    opacity: 0.8;
    width: 100%;
    height: 320px;
    margin-top: 160px;
}

.hero-overlay[type=white] {
    position: absolute;
    background: #ECECED;
    opacity: 0.8;
    width: 100%;
    height: 224px;
}

.hero-overlay[type=white--feature] {
    position: absolute;
    background: #ECECED;
    opacity: 0.8;
    width: 100%;
    height: 224px;
    margin-top: 336px;
}

.hero-overlay[type=thin] {
    background: #00217A;
    opacity: 0.8;
    width: 512px;
    height: 480px;
    margin-top: 108px;
    margin-left: calc(50% - 8px);
}

.hero-text-container[type=wide] {
    position: absolute;
    width: 512px;
    height: calc(100% - 32px);
    padding: 16px;
    margin-left: calc(50vw - 272px);
    margin-top: 164px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.hero-text-container[type=white] {
    position: absolute;
    width: 768px;
    padding: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
}

.hero-text-container[type=white--feature] {
    position: absolute;
    width: 768px;
    padding: 16px;
    margin-left: calc(50vw - 384px);
    margin-top: 336px;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
}

    .hero-text-container[type=wide] h1, .hero-text-container[type=thin] h1 {
        font-family: 'OpenSansBold';
        font-size: 36px;
        color: white;
        margin: 0;
        line-height: 48px;
    }

    .hero-text-container[type=white] h1, .hero-text-container[type=white--feature] h1 {
        font-family: 'OpenSansBold';
        font-size: 36px;
        color: #0058A6;
        margin: 0;
        line-height: 48px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .hero-text-container[type=wide] p,  .hero-text-container[type=thin] p {
        font-family: 'OpenSansRegular';
        font-size: 18px;
        font-weight: 500;
        color: white;
        letter-spacing: .04rem;
        margin: 0;
    }

    .hero-text-container[type=white] p, .hero-text-container[type=white--feature] p {
        font-family: 'OpenSansRegular';
        font-size: 18px;
        font-weight: 500;
        color: #0058A6;
        letter-spacing: .04rem;
        margin: 0;
    }

    .hero-text-container[type=white] a, .hero-text-container[type=white--feature] a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 192px;
        height: 64px;
        background: #0158a6;
        transition: 0.5s;
        cursor: pointer;
        border: none;
        box-shadow: 0 0 5px #6b879b;
        margin-top: 48px;
        text-decoration: none;
        font-family: "OpenSansBold";
        font-size: 16px;
        font-weight: 700;
        color: white;
        transition: 0.5s;
    }

        .hero-text-container[type=white] a:hover, .hero-text-container[type=white--feature] a:hover {
            background: #003057;
            transition: 0.5s;
        }

.hero-text-wrapper {
    width: 576px;
    margin-right: 48px;
}

@media only screen and (min-width: 420px) {
    .hero-text-container[type=thin] {
        position: absolute;
        width: 448px;
        height: calc(100% - 32px);
        padding: 16px;
        margin-left: 50vw;
        margin-top: 112px;
    }
}

@media only screen and (max-width: 420px) {
    .hero-container {
        justify-content: center;
    }

    .hero-overlay[type=wide] {
        height: 452px;
        margin-top: 110px;
    }

    .hero-text-container[type=wide] {
        position: absolute;
        width: calc(100% - 16px);
        height: 400px;
        margin-left: 0px;
        margin-top: 114px;
        text-align: center;
    }

    .hero-overlay[type=thin] {
        background: #00217A;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .hero-text-container[type=thin] {
        position: absolute;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 16px;
        padding-bottom: 16px;
        margin: 0;
    }

    .hero-overlay[type=white--feature] {
        position: absolute;
        background: #ECECED;
        opacity: 0.8;
        width: 100%;
        height: 440px;
        margin-top: 0;
        align-items: center;
    }

    .hero-overlay[type=white] {
        position: absolute;
        background: #ECECED;
        opacity: 0.8;
        width: 100%;
        height: 440px;
        margin-top: 0px;
    }

    .hero-text-container[type=white] {
        position: absolute;
        padding: 16px;
        margin-top: 0px;
        margin-left: 0;
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        flex-flow: column;
        align-items: center;
        width: calc(100% - 32px);
        justify-content: center;
    }

    .hero-text-container[type=white--feature] {
        position: absolute;
        padding: 16px;
        margin-top: 0;
        margin-left: 0;
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        flex-flow: column;
        align-items: center;
        width: calc(100% - 32px);
        justify-content: center;
    }

        .hero-text-container[type=white] h1, .hero-text-container[type=white--feature] h1 {
            font-family: 'OpenSansBold';
            font-size: 32px;
            color: #0058A6;
            margin: 0;
            line-height: 48px;
            margin-top: 16px;
            margin-bottom: 16px;
        }

        .hero-text-container[type=white] p, .hero-text-container[type=white--feature] p {
            font-family: 'OpenSansRegular';
            font-size: 16px;
            font-weight: 500;
            color: #0058A6;
            letter-spacing: .04rem;
            margin: 0;
        }

    .hero-text-wrapper {
        width: 100%;
        margin-right: 0px;
    }

    .hero-container[type=white--feature] {
        width: 100%;
        height: 512px;
        display: flex;
        background: #0158A6;
        align-items: center;
        justify-content: center;
    }
}