.section-container {
    width: 668px;
    margin-left: calc(50vw - 334px);
    margin-top: 64px;
    text-align: left;
}

.section-container {
    width: 668px;
    margin-left: calc(50vw - 334px);
    margin-top: 64px;
    text-align: left;
}