.image-container {
    width: 160px;
    height: 160px;
}
    .image-container img {
        width: 160px;
        height: 160px;
        margin: 0;
    }

.overlay {
    background: #00217A;
    opacity: 0.8;
    margin-left: 8px;
    margin-top: 8px;
    height: 144px;
    width: 144px;
    cursor: pointer;
    transition: 0.5s;
}

    .overlay:hover {
        width: 160px;
        height: 160px;
        margin: 0;
        transition: 0.5s;
    }

.overlay a {
    position: absolute;
    text-align: center;
    font-family: 'FreightSansProBold';
    font-size: 28px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    width: 100%;
    line-height: 100%;
    cursor: pointer;
    transition: 0.5s;
}