.story-header-container {
    padding-top: 320px;
    margin-bottom: 64px;
}

.story-header-text-wrapper {
    width: 896px;
    margin-left: calc(50vw - 448px);
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

    .story-header-text-wrapper strong[type=regular] a {
        color: #003057;
        text-decoration: none;
    }

    .story-header-text-wrapper strong[type=bold] a {
        color: #003057;
        text-decoration: none;
    }

.story-header-img-wrapper img {
    object-fit: cover;
    width: 100vw;
    height: 512px;
}

.story-image-wrapper[type=left] img {
    float: left;
    height: 384px;
    width: 288px;
    object-fit: cover;
    margin-right: 32px;
    margin-left: -64px;
}

.story-image-wrapper[type=right] img {
    float: right;
    height: 384px;
    width: 288px;
    object-fit: cover;
    margin-right: -64px;
    margin-left: 32px;
}

.story-image-wrapper[type=below] img {
    float: left;
    height: 256px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 16px;
    margin-top: 16px;
}

.overlay-story[type=left] {
    background: white;
    position: absolute;
    width: 224px;
    margin-top: 288px;
    box-shadow: 0 0 3px #e8e8e8;
    border: 1px solid #e8e8e8;
    padding: 8px;
    margin-left: -16px;
    text-align: right;
}

.overlay-story[type=right] {
    background: white;
    position: absolute;
    width: 224px;
    margin-top: 288px;
    box-shadow: 0 0 3px #e8e8e8;
    border: 1px solid #e8e8e8;
    padding: 8px;
    margin-left: 718px;
    text-align: right;
}

.overlay-story[type=below] {
    background: white;
    position: absolute;
    width: 224px;
    margin-top: 192px;
    box-shadow: 0 0 3px #e8e8e8;
    border: 1px solid #e8e8e8;
    padding: 8px;
    margin-left: 654px;
    text-align: right;
}

.caption-text-wrapper {
    color: #a4a7a9 !important;
    font-family: "OpenSansRegular" !important;
    font-size: 14px !important;
}

.story-body-container {
    width: 896px;
    margin-left: calc(50vw - 448px);
    text-align: left;
    margin-bottom: 32px;
}

    .story-body-container p {
        font-family: 'OpenSansRegular';
        font-size: 14px;
        color: #003057;
        margin: 0;
    }

    .story-body-container h2 {
        font-family: 'OpenSansBold';
        font-size: 32px;
        color: #0058A6;
        margin: 0;
        margin-bottom: 32px;
    }

    .story-body-container h3 {
        font-family: 'OpenSansBold';
        font-size: 24px;
        color: #0058A6;
        margin: 0;
    }

.story-body-container[type=image] {
    width: 896px;
    margin-left: calc(50vw - 448px);
    text-align: left;
    margin-bottom: 32px;
    min-height: 384px;
}

    .story-body-container[type=image] p {
        font-family: 'OpenSansRegular';
        font-size: 14px;
        color: #003057;
        margin: 0;
    }

    .story-body-container[type=image] h2 {
        font-family: 'OpenSansBold';
        font-size: 32px;
        color: #0058A6;
        margin: 0;
        margin-bottom: 32px;
    }

    .story-body-container[type=image] h3 {
        font-family: 'OpenSansBold';
        font-size: 24px;
        color: #0058A6;
        margin: 0;
    }

@media only screen and (max-width: 420px) {
    .story-header-text-wrapper {
        width: calc(100% - 32px);
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: 16px;
        padding-right: 16px;
        text-align: center;
    }

    .story-body-container, story-body-container[type=image] {
        width: calc(100% - 32px);
        text-align: left;
        margin-bottom: 32px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .story-image-wrapper[type=left] img, .story-img-wrapper[type=right] img {
        height: 384px;
        width: 288px;
        object-fit: cover;
        margin-bottom: 32px;
        margin-left: calc(50% - 144px);
    }

    .overlay-story[type=left], .overlay-story[type=right] {
        background: white;
        position: absolute;
        width: 224px;
        box-shadow: 0 0 3px #e8e8e8;
        border: 1px solid #e8e8e8;
        padding: 8px;
        text-align: right;
        margin-top: -144px;
        margin-left: calc(50% - 112px);
    }

    .overlay-story[type=below] {
        background: white;
        position: absolute;
        width: 224px;
        margin-top: 192px;
        box-shadow: 0 0 3px #e8e8e8;
        border: 1px solid #e8e8e8;
        padding: 8px;
        margin-left: calc(100% - 224px);
        text-align: right;
    }
}