.image-container {
    width: 160px;
    height: 160px;
    margin: 16px;
    display: flex;
    justify-content: center;
}
    .image-container img {
        position: absolute;
        object-fit: cover;
        width: 160px;
        height: 160px;
        margin: 0;
    }

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00217A;
    opacity: 0.8;
    margin: 8px;
    height: 144px;
    width: 144px;
    cursor: pointer;
    transition: 0.5s;
}

    .overlay:hover {
        width: 160px;
        height: 160px;
        margin: 0;
        transition: 0.5s;
    }

.overlay a {
    text-align: center;
    font-family: 'OpenSansBold';
    font-size: 28px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    line-height: 100%;
    cursor: pointer;
    transition: 0.5s;
}