.hero-container {
    width: 100%;
    height: 640px;
    display: flex;
}

    .hero-container img {
        position: fixed;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

.hero-overlay[type=wide] {
    background: #00217A;
    opacity: 0.8;
    width: 100%;
    height: 320px;
    margin-top: 160px;
}

.hero-overlay[type=white] {
    position: absolute;
    background: #ECECED;
    opacity: 0.8;
    width: 100%;
    height: 224px;
    margin-top: 144px;
}

.hero-overlay[type=thin] {
    background: #00217A;
    opacity: 0.8;
    width: 512px;
    height: 384px;
    margin-top: 108px;
    margin-left: calc(50% - 8px);
}

.hero-text-container[type=wide] {
    position: absolute;
    width: 512px;
    height: calc(100% - 32px);
    padding: 16px;
    margin-left: calc(50vw - 272px);
    margin-top: 304px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.hero-text-container[type=white] {
    position: absolute;
    width: 640px;
    height: calc(100% - 32px);
    padding: 16px;
    margin-left: calc(50vw - 320px);
    margin-top: 144px;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
}

.hero-text-container[type=thin] {
    position: absolute;
    width: 448px;
    height: calc(100% - 32px);
    padding: 16px;
    margin-left: 50vw;
    margin-top: 112px;
}

    .hero-text-container[type=wide] h1, .hero-text-container[type=thin] h1 {
        font-family: 'OpenSans-Bold';
        font-size: 36px;
        color: white;
        margin: 0;
        line-height: 48px;
    }

    .hero-text-container[type=white] h1 {
        font-family: 'OpenSans-Bold';
        font-size: 36px;
        color: #0058A6;
        margin: 0;
        line-height: 48px;
    }

    .hero-text-container[type=wide] p,  .hero-text-container[type=thin] p {
        font-family: 'OpenSans-Medium';
        font-size: 18px;
        font-weight: 500;
        color: white;
        letter-spacing: .04rem;
        margin: 0;
    }

    .hero-text-container[type=white] p {
        font-family: 'OpenSans-Medium';
        font-size: 18px;
        font-weight: 500;
        color: #0058A6;
        letter-spacing: .04rem;
        margin: 0;
    }

.hero-text-wrapper {
    width: 348px;
    margin-right: 48px;
}