.views-element-container {
    position: relative;
    width: 912px;
    margin-left: calc(50vw - 448px);
    text-align: left;
    margin-bottom: 32px;
    min-height: 384px;
}
    .views-element-container > div > div {
        display: flex;
        flex-wrap: wrap;
    }

    .views-element-container h2 {
        font-family: 'OpenSansBold';
        font-size: 36px;
        color: #0058A6;
        margin: 0;
        line-height: 48px;
        width: 896px;
        margin-left: calc(50vw - 444px);
        margin-bottom: 32px;
    }

    .more_from_this_issue nav {
        display: none;
    }

#block-views-block-magazine-issue-fall-2021 {
    padding-top: 320px;
}

#block-views-block-magazine-issue-fall-2021-rock-report {
    padding-top: 320px;
}

#block-views-block-magazine-issue-fall-2021-features {
    padding-top: 320px;
}

#block-views-block-magazine-issue-fall-2021-for-alumni {
    padding-top: 320px;
}

#block-views-block-magazine-issue-fall-2021-rock-report-leadership {
    padding-top: 320px;
}

#block-views-block-magazine-issue-fall-2021-rock-report-athletic {
    padding-top: 320px;
}