.accordion-container {
    width: 768px;
    margin-left: calc(50vw - 384px);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: left;
}

    .accordion-container p {
        color: #77797A !important;
        letter-spacing: 0 !important;
        font-weight: 400 !important;
        font-size: 16px !important;
    }

    .accordion-container h3 {
        font-size: 18px !important;
    }

.ckeditor-accordion-container > dl {
    border: 1px solid #77797A;
}

    .ckeditor-accordion-container > dl dt > a {
        background: #a4a7a9;
        border-bottom: 1px solid #A4A7A9;
        text-decoration: none;
        font-family: 'FreightSansProMedium';
        font-size: 18px;
        font-weight: 500;
        color: white;
    }

        .ckeditor-accordion-container > dl dt.active > a {
            background: #77797A;
        }

        .ckeditor-accordion-container > dl dt > a:hover {
            background: #929596;
        }

        .ckeditor-accordion-container > dl dt > a:active {
            background: #77797A;
        }

    .ckeditor-accordion-container > dl dd {
        padding: 16px;
    }