.accordion-container {
    width: 768px;
    margin-left: calc(50vw - 384px);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: left;
}

.ckeditor-accordion-container > dl dt > a {
    background: #a4a7a9;
}

    .ckeditor-accordion-container > dl dt > a:hover {
        background: #929596;
    }

    .ckeditor-accordion-container > dl dt > a:active {
        background: #77797A;
    }