.footer-container {
    width: 688px;
    height: 192px;
    padding: 32px;
    padding-bottom: 0px;
    text-align: left;
    margin-left: calc(50% - 376px);
}

footer-container-alternate {
    height: 128px;
}