.footer-container {
    width: 100%;
    height: 192px;
    background: #003057;
}

.footer-text-container {
    width: 688px;
    padding: 16px;
    padding-bottom: 0px;
    text-align: left;
    margin-left: calc(50% - 360px);
}