.navbar {
    background: #003057;
    height: 64px;
    width: 100%;
    display: flex;
    font-size: 1rem;
    position: fixed;
    z-index: 999;
}

.navbar-container {
    display: flex;
    height: 64px;
    max-width: 1500px;
}

.nav-branding {
    background: #0058A6;
    width: 355px;
    height: 64px;
    margin: 0;
}

.nav-logo {
    height: 64px;
    width: auto;
    margin-left: 128px;
    float: left;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-item {
    height: 32px;
}

.nav-links {
    color: #fff;
    font-family: 'FreightSansProBold';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    transition: all 0.5s ease-out;
}

.nav-links:hover {
    color: #A2DCED;
    transition: all 0.5s ease-out;
}