.navbar {
    height: 64px;
    width: 100%;
    display: flex;
    font-size: 1rem;
    position: relative;
    z-index: 999;
}

.navbar--alternate {
    height: 192px;
    width: 100%;
    display: flex;
    font-size: 1rem;
    position: relative;
    z-index: 999;
    margin-top: 64px;
}

.navbar-container {
    display: flex;
    position: fixed;
    background: #003057;
    height: 64px;
    width: 100%;
}

.navbar-container--alternate {
    display: flex;
    position: fixed;
    background: #0158a6;
    height: 64px;
    width: 768px;
    margin-left: calc(50% - 384px);
    margin-top: 64px;
}

.nav-branding {
    background: #0058A6;
    width: 355px;
    height: 64px;
    margin: 0;
}

.nav-branding--alternate {
    background: #003057;
    width: 192px;
    height: 192px;
    margin-top: -64px;
}

    .nav-branding--alternate h1 {
        font-family: "OpenSansBold";
        font-size: 108px;
        line-height: 108px;
        color: white;
        text-align: center;
        margin: 0;
    }

    .nav-branding--alternate p {
        font-family: "OpenSansBold";
        font-size: 14px;
        color: white;
        text-align: center;
    }

.nav-logo {
    height: 64px;
    width: auto;
    margin-left: 128px;
    float: left;
}

.nav-logo--alternate {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    height: 192px;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-menu--alternate {
    list-style-type: none;
}

.dropdown-content[type=issues] {
    display: none;
}

.dropdown-content[type=sections] {
    display: none;
}

.nav-item--alternate {
    display: inline;
}

.dropdown-section {
    list-style-type: none;
}

.nav-item {
    height: 32px;
}

.nav-links {
    color: #fff;
    font-family: 'OpenSansBold';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    transition: all 0.5s ease-out;
}

.nav-links:hover {
    color: #A2DCED;
    transition: all 0.5s ease-out;
}