.tagline-container {
    text-align: center;
    width: 100%;
    height: 48px;
    padding-top: 32px;
    padding-bottom: 32px;
    background: white;
}

.support-container {
    text-align: center;
    width: 100%;
    background: #A2DCED;
    padding-top: 32px;
    padding-bottom: 64px;
}

.explore-container {
    width: 768px;
    margin-left: calc(50% - 344px);
    margin-top: 128px;
    margin-bottom: 64px;
    display: grid;
    grid-template-columns: 160px 160px 160px 160px;
    grid-template-rows: 160px 160px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

.explore-card {
    width: 160px;
    height: 160px;
}

    .explore-card a {
        position: absolute;
        text-align: center;
        font-family: 'FreightSansProBold';
        font-size: 28px;
        font-weight: 700;
        color: white;
        background: #00217A;
        opacity: 0.8;
        text-decoration: none;
        margin-left: 8px;
        margin-top: 8px;
        line-height: 144px;
        width: 144px;
        cursor: pointer;
        transition: 0.5s;
    }

        .explore-card a:hover {
            width: 160px;
            line-height: 160px;
            margin: 0;
            transition: 0.5s;
        }

    #explore-header {
        position: absolute;
        margin-top: -64px;
    }

    .explore-card:first-child {
        grid-row: 1;
        grid-column: 1;
        background-image: url('/sites/default/files/2021-09/FJG-ROCKHURST-2159.jpeg');
        background-size: cover;
    }

    .explore-card:nth-child(2) {
        grid-row: 1;
        grid-column: 2;
        background-image: url('/sites/default/files/2021-09/Spring19-29.jpg');
        background-size: cover;
    }

    .explore-card:nth-child(3) {
        grid-row: 1;
        grid-column: 3;
        background-image: url('/sites/default/files/2021-09/IMG-8588.jpeg');
        background-size: cover;
    }

    .explore-card:nth-child(4) {
        grid-row: 1;
        grid-column: 4;
        background-image: url('/sites/default/files/2021-09/IMG_9973.jpg');
        background-size: cover;
    }

    .explore-card:nth-child(5) {
        grid-row: 2;
        grid-column: 1;
        background-image: url('/sites/default/files/2021-09/Spring19-39.jpg');
        background-size: cover;
    }

    .explore-card:nth-child(6) {
        grid-row: 2;
        grid-column: 2;
        background-image: url('/sites/default/files/2021-09/engineering1.jpeg');
        background-size: cover;
    }

    .explore-card:nth-child(7) {
        grid-row: 2;
        grid-column: 3;
        background-image: url('/sites/default/files/2021-09/Screenshot_20210726-150016_Instagram.jpg');
        background-size: 200%;
        background-position: 30% 45%;
    }

    .explore-card:nth-child(8) {
        grid-row: 2;
        grid-column: 4;
        background-image: url('/sites/default/files/2021-09/tulips4-7-6.jpeg');
        background-size: cover;
    }